<input type="text" [(ngModel)]="counter" class="form-control" /><br />
Counter is : {{ counter }}<br /><br />

<button class="btn btn-success" (click)="increment()">
  Increment
</button>
<button class="btn btn-warning" (click)="decrement()">
  Decrement
</button>
<button class="btn btn-danger" (click)="reset()">
  Reset
</button>
