<div class="menu">
  <button
    class="btn btn-primary btn-block"
    routerLink="/"
    routerLinkActive="active"
  >
    Home
  </button>
  <button
    class="btn btn-primary btn-block"
    routerLink="/posts"
    routerLinkActive="active"
  >
    Posts
  </button>
  <button
    class="btn btn-primary btn-block"
    routerLink="/counter"
    routerLinkActive="active"
  >
    Counter
  </button>
</div>
