<div role="main" class="container-fluid">
  <app-header> </app-header>
  <div class="row">
    <div class="col-md-2">
      <app-menu> </app-menu>
    </div>
    <div class="col-md-10 router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer> </app-footer>
</div>
