<div class="posts">
  <div class="post" *ngFor="let post of posts">
    <h1 class="title">{{ post.id }} : {{ post.title }}</h1>
    <p class="content">{{ post.body }}</p>
    <p>
      <button class="btn btn-primary" (click)="showPost(post.id)">
        View Post
      </button>
    </p>
  </div>
</div>
