<div>
  <div class="page">
    <label>Name : </label>
    <input type="text" [(ngModel)]="name" class="form-control" /><br />
    Name Value is : {{ name }}

    <br /><br />

    <counter></counter>
    <counter></counter>
  </div>
</div>
